<div class="card">
  <div class="card-content">
    <p class="title">
      {{ shelter.name }}
    </p>
    <p class="subtitle">
      {{ shelter.contact }}
    </p>
    <div class="content">
      <span class="has-text-info">Address:</span> {{shelter.address}}
      <br>
      <span class="has-text-info">City:</span> {{shelter.city}}
      <br>
      <span class="has-text-info">State:</span> {{shelter.state}}
    </div>
  </div>
  <footer class="card-footer">
    <a class="card-footer-item button is-white">
      <span class="icon">
        <i class="fas fa-sign-in-alt"> Join</i>
      </span>
    </a>
  </footer>
</div>
