<div class="columns">
  <div class="column is-1">
    <div class="is-pulled-right shelter-status-info" [ngClass]="{'shelter-danger': shelterStatus === 0, 'shelter-warning': shelterStatus === 1, 'shelter-safe': shelterStatus === 2}"></div>
  </div>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="columns">
          <div class="column is-4">
            <p class="title">
              {{ shelter.name }}
            </p>
            <p class="subtitle">
              {{ shelter.contact }}
            </p>
            <a routerLink="{{shelter['_id']}}" class="button is-outlined is-info">Click here for more info</a>
          </div>
          <div class="column is-4">
            <div class="content">
              <span class="has-text-info">Address:</span> {{shelter.address}}
              <br>
              <span class="has-text-info">City:</span> {{shelter.city}}
              <br>
              <span class="has-text-info">State:</span> {{shelter.state}}
              <br><br>
              <a href="{{bingMapUrl}}" target="_blank" class="button is-outlined">Open in Bing Maps</a>
            </div>
          </div>
          <div class="column is-4">
            <div class="content">
              <p>Approx <span class="has-text-weight-bold">{{shelter['distance']}} kms</span> away</p>
            </div>
          </div>
        </div>
      </div>
      <footer class="card-footer">
        <a class="card-footer-item button is-white" *ngIf="user.shelter !== shelter['_id']" (click)="joinShelter()">
          <span class="icon has-text-grey">
            <i class="fas fa-sign-in-alt"></i>&nbsp;Join
          </span>
        </a>
        <a class="card-footer-item button is-white" *ngIf="user.shelter === shelter['_id']" (click)="leaveShelter()">
          <span class="icon has-text-danger">
            <i class="fas fa-sign-out-alt"></i>&nbsp;Leave
          </span>
        </a>
      </footer>
    </div>
  </div>
</div>
