<div class="columns is-mobile">
  <div class="column is-1 sidenav has-text-centered">
    <div class="column">
      <a>
        <i class="far fa-circle fa-2x has-text-grey" (click)="tab = 0"></i>
      </a>
    </div>
    <div class="column">
      <a>
        <i class="fas fa-plus fa-2x has-text-grey" (click)="tab = 1"></i>
      </a>
    </div>
  </div>
  <div class="column" *ngIf="tab === 0">
    <div class="container">
      <div class="section">
        <div class="content has-text-centered" *ngIf="shelters.length === 0">
          <h1 class="has-text-grey-lighter">No shelters available</h1>
        </div>
        <div class="columns" *ngFor="let shelter of shelters">
          <div class="column">
            <app-shelter-card [shelter]="shelter" [user]="user" (updateUserDetails)="updateUserDetails($event)"></app-shelter-card>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="column" *ngIf="tab === 1">
    <app-add-shelter></app-add-shelter>
  </div>
</div>
