<div class="columns is-mobile">
  <div class="column is-1 sidenav has-text-centered">
    <div class="column">
      <a>
        <i class="far fa-circle fa-2x has-text-grey" (click)="tab = 0"></i>
      </a>
    </div>
    <div class="column">
      <a>
        <i class="fas fa-plus fa-2x has-text-grey" (click)="tab = 1"></i>
      </a>
    </div>
  </div>
  <div class="column" *ngIf="tab === 0">
    <div class="container has-text-centered">
      <div class="section">
        <div class="content" *ngIf="shelters.length === 0">
          <h1 class="has-text-grey-lighter">No shelters available</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="column" *ngIf="tab === 1">
    <div class="container">
      <div class="section">
        <form #shelterForm="ngForm" (submit)="addShelter()">
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Name</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Name" [(ngModel)]="shelter.name" name="name" required>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Contact Number</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Contact Number" [(ngModel)]="shelter.contact" name="contact"
                    required>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">Address</label>
                <div class="control">
                  <input class="input" type="text" placeholder="Address" [(ngModel)]="shelter.address" name="address" required>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">City</label>
                <div class="control">
                  <input class="input" type="text" placeholder="City" [(ngModel)]="shelter.city" name="city" required>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <label class="label">State</label>
                <div class="control">
                  <input class="input" type="text" placeholder="State" [(ngModel)]="shelter.state" name="state" required>
                </div>
              </div>
            </div>
          </div>
          <div class="columns">
            <div class="column">
              <div class="field">
                <button class="button is-primary is-outlined" [disabled]="!shelterForm.form.valid">Add Shelter</button>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
