<div class="request-shelter-container">
  <div class="columns has-background-primary is-marginless">
    <div class="column">
      <div class="container">
        <div class="section content">
          <h2 class="has-text-white">Locate your position on map</h2>
          <button class="button is-info" (click)="submitRequest()">Submit Request</button>&nbsp;
          <button class="button is-info" (click)="clearRequest()">Clear</button>
        </div>
      </div>
    </div>
  </div>
  <input type="hidden" id="lnglat" name="lnglat">
  <div id="map"></div>
</div>
