.request-shelter-container {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#map {
  width: 100%;
  flex: 1;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
}
